/*
*Hoja de estilo para la empresa la SOCIEDAD DE INGENIEROS DE BOLIVIA
*autor: Huber Rodrigo Cayoja Mayorga
*empresa: JADESOFT S.R.L.
*
**/
*{
	margin: 0px;
	padding: 0px;
}
p{
	color: white;
}
h2{
	color:white;
}
body{
	background-image: url("../img/img1.png");
	background-size: 100%;
	//background-repeat: no-repeat;
	background-attachment: fixed;
}
.header{
	text-align: right;
	padding: 1px;
	width: 100%;
	height: 800px;
	//background: rgba(0, 79, 141, 0.7);
	border: 2px solid #ffffff;
	border-radius: 3px;
}
.box{
	text-align: left;
	float: left;
	//position: fixed;
	padding: 1px;
	width: 8%;
	height: 60px;
	background: rgba(0,0,0,0.7);
	background-attachment: fixed;
	border: 2px solid #ffffff;
	border-radius: 3px;	
}
.after-box {
	text-align: left;
  	clear: left;
	position: left;//Es para que la etiqueta section baja despues de div.box
	padding: 5px;
	width: 100%;
	height: 400px;
	background: rgba(0,0,0,0.7);
	background-attachment: fixed;
	border: 2px solid #ffffff;
	border-radius: 3px;
}
.principal{
	text-align: left;
	padding: 3px;
	height: 450px;
	width: 100%;
	//background: rgba(0,119,140,0.7);
	background: rgba(0,0,0,0.3);
	//background: url("../img/img1.jpg");
	//background-size: 100%;
	//background-repeat: no-repeat;
	border: 2px solid #ffffff;
	border-radius: 3px;
}
#block{
	text-align:left;
	height: 280px;
	//width: 100%;
	background: rgba(0,119,166,0.7);
	//background: rgba(0,0,0,0.7);
	border: 3px solid white;
	border-radius: 9px;	
}
.footer{
	text-align: left;
	padding: 3px;
	height: 50px;
	width: 100%;
	background: rgba(0, 43, 121, 0.7);
	border: 3px solid white;
	border-radius: 4px;	
}
.titler{
	margin: 1px;
	width: 100%;
	text-align: left;
	//background: rgba(255,0,0,0.3);
	height: 30px;
}
.pic{
	margin: 1px;
	width: 100%;
	text-align: left;
	//background: rgba(255,0,0,0.3);
	height: 110px;
}
.detailer{
	margin: 1px;
	padding: 10px;
	width: 100%;
	text-align: left;
	//background: rgba(255,0,0,0.3);
	height: 110px;
}
/**
*ESTE PEDAZO DE CODIGO ES PARA HACER UN
*DIV CIRCULAR E INTRODUCIR IMAGEN AL ESTILO
*GOOGLEPLUS
*/
.circular{ 
	width: 300px; 
	height: 300px;
	float: center;
	display: inline-block;
	border-radius: 150px; 
	-webkit-border-radius: 150px; 
	-moz-border-radius: 150px;
	background: url("../img/img8.png") no-repeat;
	background-position: center;
}

.circular img{ 
	opacity: 0;
	filter: alpha(opacity=0);
}
.circular:hover{
	-webkit-transition:1.5s;
	-webkit-transform:rotate(360deg);
}
.circular_shadow{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("../img/img8.png") no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*
	Efecto fade text in
	muestr el texto cuando el mouse esta sobre la imagen
*/
#ex3 {
    width: 730px;
    height: 133px;
    line-height: 0px;
    color: transparent;
    font-size: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 300;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
  
#ex3:hover {
    line-height: 133px;
    color: #575858;
}
  
#ex3 img{
    float: left;
    margin: 0 15px;
}

/*OTROS BOTONES SOCIALES*/
/*
ul#m-soc7{margin:20px 0 0 1px; padding:0; width:280px; height:48px}
ul#m-soc7 li{list-style:none; margin:2px; padding:0; float:left; border:none}
ul#m-soc7 li a{background:url(../img/sprite7-compartidisimo.png) no-repeat 0 0; margin:0; padding:0; display:block; position:relative; width:48px; height:48px; overflow:visible}
ul#m-soc7 li a.twitter{background-position:0 0}
ul#m-soc7 li a.facebook{background-position:-48px 0}
ul#m-soc7 li a.google{background-position:-96px 0}
ul#m-soc7 li a.youtube{background-position:-144px 0}
ul#m-soc7 li a.twitter:hover{background-position:0 -48px}
ul#m-soc7 li a.facebook:hover{background-position:-48px -48px}
ul#m-soc7 li a.google:hover{background-position:-96px -48px}
ul#m-soc7 li a.youtube:hover{background-position:-144px -48px}
ul#m-soc7 li a span{background:orange; position:absolute; top:-10px; width:auto; left:0;opacity:0; padding:3px; text-align:left;text-decoration:none; color:#fff; filter:alpha(opacity=0); white-space:nowrap; border-radius:3px; font-size:12px; -webkit-transition:all 0.25s ease-in-out; -moz-transition:all 0.25s ease-in-out; -o-transition:all 0.25s ease-in-out; -ms-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out}
ul#m-soc7 li a:hover span{opacity:.8; filter:alpha(opacity=80); top:-24px}
*/